#USD_div {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b2/US_flag_large_51_stars.png);
  background-size: 70%;
  background-repeat: no-repeat;
  opacity: 0.3;
  text-color: rgba(0, 0, 0, 1),
}

#USD {
  opacity:1;
}
